/* All style should go in this document. */
* {
	margin: 0px;
	padding: 0px;
}
body {
	font-family: 'Open Sans', sans-serif;
	background-color: #E6F1FB;
	font-size: 20px;
	color: #123;
	text-shadow: 0px 1px #fff;
}
h1 {
	font-size: 38px;
}
h2 {
	font-size: 32px;
}
h3 {
	font-size: 28px;
}
#header {
	padding: 8px;
	width: 70%;
	margin: auto;
}
#content {
	padding: 0 10%;
	width: 65%;
	margin: auto;
}
#footer {
	width: 100%;
	min-height: 100px;
	background-color: #2A366B;
	color: #AAB;
	text-shadow: 0px 0px #fff;
}
h2.section {
	margin-left: -16px;
}
img.center {
	display: block;
	margin: 0 auto;
}
img.round {
	width: 200px;
	border-radius: 50%;
	border: 8px solid #fff;
}
.center {
	text-align: center;

}
span.indent {
	text-indent: 40px;
}
img.projectImg {

	width: 40%;
	margin: auto;
	display: block;
	transition: width 1s cubic-bezier(0.59, -0.31, 0.31, 1.35);;
}
