/* All style should go in this document. */
* {
	margin: 0px;
	padding: 0px;
}
body {
	font-family: 'Open Sans', sans-serif;
	background-color: #E6F1FB;
	font-size: 20px;
	color: #123;
}
h1 {
	font-size: 38px;
}
h2 {
	font-size: 32px;
}
h3 {
	font-size: 28px;
}
#header {
	padding: 8px;
	width: 70%;
	margin: auto;
	margin-top: 2%;
}
#content {
	padding: 0 10%;
	width: 65%;
	margin: auto;
}
#footer {
	margin-top: 5%;
	padding-top: 3%;
	padding-bottom:5%;
	width: 100%;
	min-height: 100px;
	background-color: #181F3C;
	color: #AAB;
}
div#footerContent {
	display: block;
	text-align: center;
}
h2.section {
	margin-left: -16px;
}
img.center {
	display: block;
	margin: 0 auto;
}
img.round {
	width: 200px;
	border-radius: 50%;
	border: 8px solid #fff;
}
img.photo {
	box-shadow: 0px 0px 30px;
}
.center {
	text-align: center;

}
div.indent {
	text-indent: 40px;
}
img.projectImg {

	width: 40%;
	margin: auto;
	display: block;
	transition: width 1s cubic-bezier(0.59, -0.31, 0.31, 1.35);;
}

hr {
	margin: 2%;
}
hr.secDivider {
	margin: 5%;
	
}
