/* All style should go in this document. */
* {
  margin: 0px;
  padding: 0px;
}
body {
  font-family: 'Open Sans', sans-serif;
  background-color: #272342;
  font-size: 20px;
  color: #DECCEA;
  letter-spacing: 1px;
}

h1 {
  font-size: 38px;
}

h2 {
  font-size: 32px;
}

h3 {
  font-size: 28px;
}

#header {
      padding: 5% 0;
    width: 100%;
    margin: auto;
  background: linear-gradient(rgba(253, 133, 133, 0.51), #272342);
}

#content {
  padding: 0 10%;
  width: 65%;
  margin: auto;
}

#footer {
  margin-top: 5%;
  padding-top: 3%;
  padding-bottom:5%;
  width: 100%;
  min-height: 100px;
  background-color: #111731;
  color: #AAB;
}

#footerContent {
  display: block;
  text-align: center;
}

h2.section {
  text-align: center;
}

img.center {
  display: block;
  margin: 0 auto;
}

img.round {
  width: 200px;
  border-radius: 50%;
  border: 8px solid #fff;
}
img.shadow{
  color: #000;
  box-shadow: 0px 0px 50px 10px;
}

.center {
  text-align: center;

}

div.indent {
  text-indent: 40px;
}
img.project-img {
  cursor: pointer;
  width: 40%;
  margin: auto;
  display: block;
  transition: width 1s cubic-bezier(0.59, -0.31, 0.31, 1.35);
}

div.divider, div.sec-divider {
    background-image: url('../res/hr-triple.png');
    height: 45px;
    width: 160px;
    margin: 2% auto;
}

div.sec-divider {
  background-image: url('../res/hr-triple.png');
  width: 47px;
}
a, a:visited {
	color: #6460FF;
  font-weight: 100;
}
.interactive:hover {
  position: relative;
  top: -8px;
  transition: top 1s ease-in;
}
.interactive {
  transition: top 1s ease-in;
}