/* All style should go in this document. */
body {
	font-family: 'Open Sans', sans-serif;
	background-color: #E6F1FB;
	color: #123;
	text-shadow: 0px 1px #fff;
}
#header {
	padding: 8px;
	width: 50%;
	margin: auto;
}
#content {
	padding: 0 10%;
	width: 45%;
	margin: auto;
}
h2.section {
	margin-left: -16px;
}
img.center {
	display: block;
	margin: 0 auto;
}
img.round {
	border-radius: 50%;
	border: 8px solid #fff;
}
.center {
	text-align: center;

}